#CaseStudy{
    width: 200px;
    background-color: gold;
}
.footer{
    width:100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    background-color: gold;
}
.List_of_objects{
  
    padding: 30px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px grey;
}
li img{
width: 200px;
border-radius:20px ;
}
#List_of_objects_1{
    background-color: aqua;
}
#List_of_objects_2{
    background-color: rgb(247, 9, 227);
}
#List_of_objects_3{
    background-color: rgb(195, 9, 247);
}
#List_of_objects_4{
    background-color: rgb(247, 9, 92);
}
#List_of_objects_5{
    background-color: rgb(247, 9, 9);
}
